<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" data-layout-decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Show Sectors</title>
</head>
<div class="container-fluid" style="min-height: 1416.81px;" data-layout-fragment="content">
    <!-- Content Header (Page header) -->
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sector Overview</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/suppliers}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/sectors}">Sectors</a></li>
                    <li class="breadcrumb-item active">Sector Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <!-- Main content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-dark card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="/img/avatar.png"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center"><p th:text="${sector.name}">Sector</p></h3>

                        <br>
                        <a th:href="@{'/editSector/'+${sector.id}}" class="btn btn-dark btn-block"><i
                                class="fas fa-edit"></i><b> Edit</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-dark">
                    <div class="card-header">
                        <h4 class="card-title">Companies</h4>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="callout callout-success" th:each="company:${companies}">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="text-center"><a th:href="@{'/showCompany/'+${company.id}}">Company Details</a></h5>
                                    <b>Company Name: </b>
                                    <span th:text="${company.name}"></span><br>
                                    <b>Country: </b>
                                    <span th:text="${company.country}"></span><br>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <!-- /.content -->
</div>
</html>

